test
.venv*
results
pdf/*
pdf/processed/*
pdf/tresh/*
sub_modules/langdata
sub_modules/tesseract
__pycache__
*.log
test_server/pdf_storage/*
*.pdf
#Not ignored
!pdf/processed/
!pdf/results/
!pdf/tresh/